@import '/node_modules/bootstrap/scss/bootstrap.scss';

.App{
  h1{
    padding:1em .5em;
    font-size:2.1em;
  }
  .list{
    width:100%;
    gap:2em;
    padding:2em;
    .wrap{
      display:flex;
      margin-bottom:1rem;
      .formBox{
        display:flex;
        gap:0.2rem;
        button{
          border:none;
          background:transparent;
        }
        input{
          width:20rem;
        }
      }
    }
    .row{
      padding:2rem;
      .card{
        height:35rem;
        margin-bottom:2.2rem;
        .card-img-top{
          height:70%;
          width:100%;
          overflow:hidden;
          img{
            width:100%;
            min-height:100%;
            object-fit:cover;
          }
        }
        .card-body{
          height:30%;
        }
      }  
    }
  }
}
// modal
