@import '/node_modules/bootstrap/scss/bootstrap.scss';

.App{
  .list{
    width:100%;
    padding:50px;
    h1{
      padding:10px 15px 40px 0;
      font-size:35px;
    }
    .headWrap{
      display:flex;
      margin-bottom:35px;
      padding-left:0;
      .formBox{
        display:flex;
        gap:10px;
        margin-right:20px;
        input{
          width:365px;
        }
        button{
          padding:0 3px;
          border:none;
          background:transparent;
        }
      }
      .add{
        border:none;
        background:transparent;
      }
    }
    .row{
      padding:2px;
      .col{            
        margin-bottom:50px;
        .card{
          height:550px;
          .card-img-top{
            height:70%;
            width:100%;
            overflow:hidden;
            img{
              width:100%;
              min-height:100%;
              object-fit:cover;
            }
          }
          .card-body{
            height:30%;
          }
        }  
      }
    }
  }
}
// modal
.modal{
  .modal-body{
    form{
      display:flex;
      justify-content: space-around;
      padding:15px;
      input{
        width:80%;
      }
      button{
        width:18%;
      }
    }
    #map{
      margin-bottom:20px;
    }
    p{
      padding:5px 0 5px 5px;
    }
  }
}